.cartbtn {
  color: #fe5f1e;
  background: #fff;
  border-radius: 30px;
  width: 150px;
  height: 50px;
  border: 1px solid #fe5f1e;

  &:hover {
    -o-transition: all 0.5s ease;
    transition: all 0.3s ease;
    transition: all 0.3 ease;
    color: #fff;
    background: #fe5f1e;
    border-radius: 30px;
    width: 150px;
    height: 50px;
  }
}
.pressedBtn {
  background: #fe5f1e;
  border-radius: 30px;
  color: #fff;
}
