body {
  background-color: #ffdf8c;
  margin: 0;
  font-family: 'Figtree', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header {
  border-bottom: 2px solid #f7f7f7;
  padding-bottom: 30px;
}
* {
  transition: all 0.2s ease-in-out;
  font-family: Nunito, Roboto, system-ui, Tahoma, sans-serif;
  list-style: none;
}

.wrapper {
  padding-right: 70px;
  padding-left: 70px;
  height: 100%;
  width: calc(100vw - 100px);
  background: #fff;
  margin: 50px auto;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-top: 50px;
  max-width: 1400px;
  margin-bottom: 50px;
}
.header_content {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 640px) {
    flex-direction: column;
    .buttonside {
      margin-top: 30px;
    }
  }
  h1 {
    margin: 0;
  }
  p {
    margin: 0;
  }
  img {
    margin-right: 20px;
  }
  button {
    background: #fe5f1e;
    border-radius: 30px;
    width: 150px;
    height: 50px;
    border: none;
  }
  .logoside {
    &:hover {
      cursor: pointer;
    }
    align-items: center;
    display: flex;
  }
  .buttonside {
    button {
      &:hover {
        background-color: #f87846;
      }
    }
    ul {
      &:hover {
        cursor: pointer;
      }
      color: #fff;
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      padding: 15px;
    }
    img {
      margin-right: 5px;
    }
  }
}
.line {
  margin-top: 35px;
  width: 100%;
  border: 1px solid #f7f7f7;
}
.content {
  h2 {
    margin-bottom: 35px;
  }
  .categories {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  color: #2c2c2c;
  margin-top: 40px;
  .sorting {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 1170px) {
      flex-direction: column-reverse;
      .sort {
        margin-bottom: 30px;
      }
      @media (max-width: 810px) {
        ul {
          flex-direction: column;
        }
      }
    }
  }
  select {
    background-color: transparent;
    outline: none;
    border: none;

    border-bottom: 1.5px dashed #f87846;
    color: #f87846;
    &:hover {
      cursor: pointer;
    }
  }
  ul {
    display: flex;
    gap: 10px;
    li {
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 30px;
      padding-right: 30px;
      height: 46px;
      border: none;
      background: #f9f9f9;
      border-radius: 30px;
      &.active {
        background: #282828;
        color: #fff;
      }

      &:hover {
        cursor: pointer;
        transform: translateY(-5px);
        transition: transform 0.1s ease-in-out;
      }
    }
  }
}

.card {
  &:hover {
    transform: scale(1.03);
    transition: all 0.2s ease-in-out;
  }
  text-align: center;
  width: 280px;
  height: 460px;
  margin-bottom: 50px;
  border-radius: 10px;
  .optional-block {
    height: 105px;
    background: #f3f3f3;
    border-radius: 10px;
    ul {
      align-items: center;
      padding: 0;
      display: flex;

      li {
        margin: 6px;
        font-size: 16px;
        padding: 8px;
        cursor: pointer;
        margin-bottom: 0px !important;
        flex: 1;
        border-radius: 5px;
        &:hover {
          background: #f9f9f9ff;
        }
        &.active {
          color: #2c2c2c;
          background-color: #fff;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
  .price-block {
    b {
      font-size: 22px;
      font-weight: bold;
      line-height: 27px;
      letter-spacing: 0.015em;
    }
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 11px;

  @media (max-width: 1400px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 1060px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 730px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.cart {
  display: flex;
  align-items: center;
  justify-content: center;

  .cartcontent {
    margin-top: 100px;
    width: 610px;
    height: 800px;
    .total {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;
      margin-left: 10px;
      margin-right: 10px;
      .price {
        b {
          color: #fe5f1e;
        }
      }
    }
    .btns {
      display: flex;
      justify-content: space-between;
      height: 55px;

      .pay {
        background: #fe5f1e;
        color: #fff;
        border-radius: 30px;
        border: none;
        width: 210px;
        &:hover {
          cursor: pointer;
          transform: scale(1.05);
        }
      }

      .back {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        border: 1px solid #d3d3d3;
        color: #cacaca;
        background: #fff;
        width: 210px;
        height: 55px;
        &:hover {
          cursor: pointer;
          background: #282828;
          transform: scale(1.05);
          color: #fff;
          img {
            transform: translateX(-5px);
          }
        }
        img {
          margin-right: 20px;
        }
      }
    }
    .cartitems {
      margin-bottom: 40px;
    }
    .cartitem {
      border-top: 1px solid #f4f4f4;
      padding-top: 30px;
      margin-top: 40px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .itemdescription {
        p {
          margin: 0;
          opacity: 50%;
        }
      }
      .itemremove {
        &:hover {
          cursor: pointer;
        }
      }
      .itemcount {
        display: flex;
        align-items: center;
        b {
          margin: 10px;
        }
        img {
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
  .cartheader {
    display: flex;
    justify-content: space-between;
    .cartside {
      b {
        margin-left: 12px;
        font-size: 26px;
      }
    }
    .deleteside {
      display: flex;
      p {
        margin: 0;
        margin-left: 8px;
        color: #b6b6b6;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}
